# Ignore these everywhere.
Makefile.in
Makefile
.deps
*.o
*.a
gmon.out

# Ignore sgf files, except below regression/games. The exception is
# implemented by a rule in regression/games/.gitignore
*.sgf

# Build files in the top directory.
/INSTALL
/aclocal.m4
/config.cache
/config.log
/config.status
/config.h
/config.h.in
/configure
/stamp-h
/stamp-h1
/autom4te.cache

# Documentation.
/doc/gnugo.6
/doc/gnugo.info*
